<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PacManApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.general.StartActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- TODO add proper landscape implementation to the activities -->
        </activity>
        <activity
            android:name=".activities.edit.EditActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.inspect.InspectActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.map.PlayMapActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.map.AdminMapActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.general.FruitActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.save.SaveActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.settings.AdminSettingsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name=".activities.settings.PlaySettingsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>